# =========================================================
# Python
# =========================================================
.venv/
venv/
ENV/

__pycache__/
*.py[cod]

# =========================================================
# Secrets
# =========================================================
.env

# =========================================================
# Logs / MLflow
# =========================================================
logs/
mlruns/

# =========================================================
# Ignore generated data folders
# =========================================================
data/*
src/data/*
src/temp_audio/*

# Keep directory structure
!data/**/
!src/data/**/

# Keep CSV files
!data/**/*.csv
!src/data/**/*.csv

# =========================================================
# Heavy files
# =========================================================
*.zip
*.tar.gz
*.mp3
*.onnx

# Ignore ALL wav files by default
*.wav

# =========================================================
# ONLY keep continual learning training wavs
# =========================================================

*.wav

!src/
!src/find_tunes/
!src/find_tunes/services/
!src/find_tunes/services/ml_branch/
!src/find_tunes/services/ml_branch/continual_learning/
!src/find_tunes/services/ml_branch/continual_learning/data/
!src/find_tunes/services/ml_branch/continual_learning/data/cl_training/

!src/find_tunes/services/ml_branch/continual_learning/data/cl_training/*.wav